<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.progmob.b.jhonarendra.belajargeometri2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".BangunDatar" />
        <activity android:name=".BangunRuang" />
        <activity android:name=".About" />
        <activity android:name=".MateriBangunDatar" />
        <activity android:name=".MateriBangunRuang" />
        <activity android:name=".KalkulatorBangunDatar" />
        <activity android:name=".KalkulatorBangunRuang" />
        <activity android:name=".KalkulatorPersegi" />
        <activity android:name=".KalkulatorPersegiPanjang" />
        <activity android:name=".KalkulatorLingkaran" />
        <activity android:name=".KalkulatorSegitigaSamaSisi" />
        <activity android:name=".KalkulatorSegitigaSamaKaki" />
        <activity android:name=".KalkulatorSegitigaSikuSiku" />
        <activity android:name=".KalkulatorBelahKetupat" />
        <activity android:name=".KalkulatorLayangLayang" />
        <activity android:name=".KalkulatorTrapesium" />
        <activity android:name=".KalkulatorKubus" />
        <activity android:name=".KalkulatorBalok" />
        <activity android:name=".KalkulatorKerucut" />
        <activity android:name=".KalkulatorLimasSegiempat" />
        <activity android:name=".KalkulatorLimasSegitiga" />
        <activity android:name=".KalkulatorBola" />
        <activity android:name=".KalkulatorPrisma" />
        <activity android:name=".KalkulatorTabung" />
    </application>

</manifest>